<header class="header">
    <div class="logo">

        
        <img *ngIf="!darkMode" routerLink="/" src="../../assets/img/wappenlogo_darkmode.png" alt="">
        <img *ngIf="darkMode" routerLink="/" src="../../assets/img/wappenlogo_white.png" alt="">

        
    </div>
    
    <div [class.darkLinks]="darkMode">
        <a routerLink="/">Home</a>
        <!-- <a href="https://www.google.de" target="_blank">Curriculum</a> -->
        <!-- <a href="#">Projects</a> -->
        <a routerLink="/imprint">Imprint</a>
        <a routerLink="/data-protection">Data-Protection</a>
    </div>
</header>
