.center button {
    margin: 32px;
    font-size: 32px;
    border-radius: 16px;
  }

  .myProfileContainer{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

    img{
      margin: 8px;
      border-radius: 8px;
    }

    p{
      margin: 8px;
      width: 250px;
    }
  }