.img-container{
  // height: 50vh;
  width: 100vw;
  height: 80vh;
  max-width: 100%;
  overflow: hidden;
}

.img-slideshow {
  height: 50vh;
  width: 50vw;
  max-width: 100%;
  object-fit: cover;
  animation: zoomIn 8s ease infinite;
  border-radius: 16px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes zoomIn {
  from{
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}