<div class="img-container center">
    <img *ngIf="showImage" src="assets/img/{{images[currentImage]}}" class="img-slideshow" alt="different image">
</div>

<div class="img-container bg-Overlay">
    <p *ngIf="showImage" class="fadeIn">
        {{headlines[currentImage]}}
    </p>
</div>


<div class="center flexColumn">
    <button (click)="hideAndSeek()">Click to read more</button>
    <p *ngIf="showInfoText" >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis numquam, voluptate sint labore ex quod neque sapiente necessitatibus deleniti 
    </p>
</div>